/*
Theme Name: Ladya Theme
Theme URI:
Author: Ilya Shcherbakov
Author URI: https://www.facebook.com/ilya.shcherbakov.96
Description: Small and fast themу for Wordpress. Originaly ained to use on web-sites of  psychologists, coaches.
Version: 1.0
License:
License URI:
Tags:
Text Domain: ladyatheme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,greek);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,300italic,300,700,700italic&subset=latin,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,700italic,400italic&subset=latin,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,greek,greek-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700&subset=latin,cyrillic);
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'dejavu_serifbook';
  src: url('../font/dejavuserif.eot');
  src: url('../font/dejavuserif.eot?#iefix') format('embedded-opentype'), url('../font/dejavuserif.woff2') format('woff2'), url('../font/dejavuserif.woff') format('woff'), url('../font/dejavuserif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'permianseriftypefaceregular';
  src: url('../font/permianseriftypeface.eot');
  src: url('../font/permianseriftypeface.eot?#iefix') format('embedded-opentype'), url('../font/permianseriftypeface.woff2') format('woff2'), url('../font/permianseriftypeface.woff') format('woff'), url('../font/permianseriftypeface.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('font/proximanova-regular.eot');
  src: url('font/proximanova-regular.eot?#iefix') format('embedded-opentype'), url('font/proximanova-regular.woff2') format('woff2'), url('font/proximanova-regular.woff') format('woff'), url('font/proximanova-regular.ttf') format('truetype'), url('font/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'charis_silregular';
  src: url('font/charissilr.eot');
  src: url('font/charissilr.eot?#iefix') format('embedded-opentype'), url('font/charissilr.woff2') format('woff2'), url('font/charissilr.woff') format('woff'), url('font/charissilr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 16px;
  height: auto;
}
/* Comment */
body {
  width: 100%;
  margin: 0;
  display: table;
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.wrapper,
.footer-wrapper {
  display: table-row;
  height: 100%;
}
.footer-wrapper {
  margin: 0 auto;
}
.main-wrapper,
.footer {
  display: table-cell;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}
a {
  text-decoration: none;
  color: #00a70b;
}
h1 {
  padding: 32px 0 10px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 3.2em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
h2 {
  padding: 32px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2em;
}
h3 {
  padding: 20px 0px 10px 3px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.7em;
}
h3 a {
  text-decoration: none;
  color: #0f0f0f;
}
h4 {
  padding: 32px 0 15px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.375em;
}
strong {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.0625em;
}
table caption {
  margin-bottom: 15px;
}
th {
  text-align: center;
}
th + th {
  padding-left: 13px;
}
td {
  text-align: center;
}
td + td {
  padding-left: 15px;
}
.main-wrapper {
  min-height: 100%;
  width: 100%;
  margin-bottom: -190px;
}
.main-wrapper:after {
  content: '';
  display: block;
}
.header,
.main,
.footer {
  display: block;
  margin: 0 auto;
  float: none;
  padding: 0;
}
.main {
  *zoom: 1;
  padding: 0;
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
/**
* HEADER
**/
.header {
  padding-top: 30px;
  /**
    * MAIN MENU
    **/
}
.header-title {
  display: table;
  margin: 0 auto 30px auto;
}
.header-title__logo,
.header-title__description {
  display: inline-block;
}
.header-title__logo__container {
  position: relative;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0 2px 1px 1px #afafaf;
}
.header-title__logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
}
.header-title__description {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.header-title__description__name {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}
.header-title__description span {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 1.125em;
}
.header .nav-main {
  position: relative;
  width: 100%;
  background-color: #026A83;
  border-bottom: 7px solid #85E585 ;
  z-index: 10;
}
.header .nav-main .menu {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1em;
}
.header .nav-main .menu > li {
  display: inline-flex;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
}
.header .nav-main .menu > li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #85E585;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header .nav-main .menu > li.current-menu-item {
  background-color: #85E585 ;
}
.header .nav-main .menu > li:hover:before,
.header .nav-main .menu > li:focus:before,
.header .nav-main .menu > li:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header .nav-main .menu > li > a {
  display: inline-block;
  padding: 10px 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}
.header .nav-main .menu > li .fa {
  margin-left: 10px;
  display: inline;
  color: #fff;
}
.header .nav-main .menu .hover ul.sub-menu {
  visibility: visible;
}
.header .nav-main-scrolled {
  position: fixed;
  top: 0;
}
.header .nav-main .current-menu-parent,
.header .nav-main .current-menu-ancestor,
.header .nav-main .current_page_parent,
.header .nav-main .current_page_ancestor {
  background-color: #85e585;
}
.header .nav-main .current-post-parent a {
  color: #fff;
}
.header .sub-menu {
  display: none;
  position: absolute;
  padding: 5px 0;
  left: 0;
  top: 43px;
  min-width: 220px;
  width: 100%;
  z-index: 11;
  -webkit-transition: visibility 0.5s linear;
  transition: visibility 0.5s linear;
  background: #fbfbfb;
  box-shadow: 0 3px 3px 0 #636363;
}
.header .sub-menu li {
  display: inline-block;
  margin: 1px 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
  text-align: left;
}
.header .sub-menu li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  font-size: 0.875em;
}
.header .sub-menu li a .fa {
  display: none !important;
}
.header .sub-menu li.current-menu-item {
  background-color: #85E585;
}
.header .sub-menu li.current-menu-item a {
  color: #fff;
}
.header .sub-menu li:hover {
  background-color: #85E585;
  cursor: pointer;
}
.header .sub-menu li:hover a {
  color: #fff;
}
.content-part {
  *zoom: 1;
}
.content-part:before,
.content-part:after {
  content: " ";
  display: table;
}
.content-part:after {
  clear: both;
}
/*Breadcrumbs styles */
.breadcrumbs {
  margin-top: 72px;
}
.breadcrumbs p,
.breadcrumbs a {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -1px;
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 0.75em;
  color: #00A70B;
  text-decoration: none;
  line-height: 15px;
}
.breadcrumbs p:last-child,
.breadcrumbs a:last-child {
  color: #0f0f0f;
  border-bottom: 1px solid #00A70B;
}
/* Content styles */
.content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.content article {
  margin-bottom: 30px;
  padding: 0 30px 0 80px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #d7d7d7;
}
.content ul,
.content ol {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.content ul {
  list-style: disc inside;
}
.content ol {
  list-style: decimal inside;
}
.content p {
  padding: 0 1.5em;
  margin-bottom: 1.8em;
  font-family: 'Lora', serif;
  font-weight: 400;
  text-indent: 20px;
  line-height: 1.5em;
  font-size: 1em;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}
.content p a {
  font-weight: bold;
  border-bottom: 5px solid rgba(0, 167, 11, 0.38);
  padding-bottom: 1px;
}
.content p a:hover {
  border-bottom-color: rgba(0, 91, 6, 0.38);
}
.content a > img {
  max-width: 100%;
  height: auto;
}
.content a > img.aligncenter {
  margin: 0 auto 2em auto;
}
.content a > img.alignleft {
  float: left;
  margin-right: 2em;
}
.content a > img.alignright {
  float: right;
  margin-left: 2em;
}
.content .wp-caption {
  margin-bottom: 30px;
  max-width: 100% !important;
  height: auto !important;
}
.content .wp-caption p {
  margin-bottom: 0;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.content .wp-caption.aligncenter {
  margin: 0 auto 2em auto;
}
.content .wp-caption.alignleft {
  float: left;
  margin-right: 2em;
}
.content .wp-caption.alignright {
  float: right;
  margin-left: 2em;
}
.content blockquote {
  margin-bottom: 2em;
  overflow: hidden;
  min-width: 100%;
  background: #f2f2f2;
  border-left: 5px solid #85E585;
  quotes: "\201c" "\201d";
}
.content blockquote p {
  margin-bottom: 0;
  padding: 1em 1em 1em 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.125em;
}
.content .post .post-thumbnail,
.content .product .post-thumbnail {
  position: relative;
  display: block;
  margin-bottom: 2.3em;
  width: 100%;
  height: 300px;
  overflow-y: hidden;
}
.content .post .post-thumbnail img,
.content .product .post-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.post-info {
  padding: 0 0 20px 3px;
  font-size: 0.875em;
}
.post-info ul li {
  display: block;
}
.post-info__category {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
}
.post-info__category:after {
  content: '/';
  margin: 0 10px 0 8px;
}
.post-info__category a {
  text-decoration: none;
  color: #00A70B;
}
.post-info__date {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  margin-top: 5px;
}
.post-info__read-more {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 16px;
}
.post-info__read-more a {
  text-decoration: none;
  color: #00A70B;
}
.pt-section {
  margin-top: 30px;
}
.pt-section__title {
  display: inline;
  padding: 5px 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: 1.275em;
  background: #28B6D7;
  color: #fff;
}
.pt-section .pt-container {
  *zoom: 1;
  padding: 40px 30px;
  height: 100%;
}
.pt-section .pt-container:before,
.pt-section .pt-container:after {
  content: " ";
  display: table;
}
.pt-section .pt-container:after {
  clear: both;
}
.pt-section .pt-container article {
  margin-bottom: 20px;
  width: 24%;
  padding: 0 0 10px 0;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 8px 2px #e2e2e2;
}
.pt-section .pt-container article + article {
  margin-left: 20px;
}
.pt-section .pt-container article:nth-of-type(4n+1) {
  clear: both;
  margin-left: 0;
}
.pt-section .pt-container article .post-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: 9px 9px 0 0;
}
.pt-section .pt-container article .post-thumbnail img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  height: auto;
}
.pt-section .pt-container article .title {
  position: static;
  padding: 0 10px;
  margin: 10px 0 15px 0px;
}
.pt-section .pt-container article .title h3 {
  display: inline;
  font-size: 1.4em;
}
.pt-section .pt-container article .title__button {
  float: right;
  width: 120px;
  display: block;
  padding: 10px 15px;
  background: #00a70b;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: 2px solid #00a70b;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.pt-section .pt-container article .title__button:hover {
  background: #fff;
  color: #00a70b;
}
.pt-section .pt-container article .title__description {
  margin: 10px 0 25px;
}
.pt-section .pt-container article .title__date {
  float: right;
  margin-top: 5px;
  font-size: 1em;
  letter-spacing: -0.04em;
  border-bottom: dashed 1px rgba(0, 167, 11, 0.6);
}
.pt-section .pt-container article .title__price {
  display: inline;
  margin-top: 11px;
  margin-left: 0px;
  float: left;
  font-size: 1em;
  letter-spacing: -0.04em;
  border-bottom: dashed 1px rgba(0, 167, 11, 0.6);
}
.pt-section .pt-container article .title__price span {
  margin-left: 5px;
  letter-spacing: 0em;
  font-size: 1.4em;
  font-weight: bold;
  color: #00A70B;
}
.pt-page .pt-container {
  padding-top: 10px;
  padding-bottom: 0;
}
.event-section {
  margin-bottom: 40px;
  background-image: url(images/event-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -70px;
  box-shadow: 0 0 15px 2px #d4d4d4;
}
.event-section__title {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.375em;
  background: #28B6D7;
  color: #fff;
}
.event-section .event-container {
  padding: 30px 30px 0px 30px ;
  *zoom: 1;
}
.event-section .event-container:before,
.event-section .event-container:after {
  content: " ";
  display: table;
}
.event-section .event-container:after {
  clear: both;
}
.event-section .event-container article {
  margin: 5px 20px;
}
.event-section .event-container article .post-thumbnail {
  display: block;
  height: 120px;
  overflow: hidden;
}
.event-section .event-container article .post-thumbnail img {
  height: 120px;
  width: 100%;
}
.event-section .event-container article .title h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}
.blog-section {
  margin-top: 10px;
  margin-bottom: 30px;
}
.blog-section__title {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.275em;
  letter-spacing: -0.02em;
  background: #28B6D7;
  color: #fff;
}
.blog-section .blog-container {
  *zoom: 1;
  margin-top: 20px;
  padding: 0 30px;
}
.blog-section .blog-container:before,
.blog-section .blog-container:after {
  content: " ";
  display: table;
}
.blog-section .blog-container:after {
  clear: both;
}
.blog-section .blog-container__main {
  *zoom: 1;
  margin-bottom: 15px;
}
.blog-section .blog-container__main:before,
.blog-section .blog-container__main:after {
  content: " ";
  display: table;
}
.blog-section .blog-container__main:after {
  clear: both;
}
.blog-section .blog-container__main article {
  position: relative;
  display: block;
  *zoom: 1;
  padding-right: 0;
  overflow: hidden;
}
.blog-section .blog-container__main article:before,
.blog-section .blog-container__main article:after {
  content: " ";
  display: table;
}
.blog-section .blog-container__main article:after {
  clear: both;
}
.blog-section .blog-container__main article .post-thumbnail {
  display: block;
  overflow: hidden;
  height: 300px;
  position: relative;
}
.blog-section .blog-container__main article .post-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  height: auto;
}
.blog-section .blog-container__main article .description {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.blog-section .blog-container__main article .description__container {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.8);
}
.blog-section .blog-container__main article .description__container h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.6375em;
  padding: 0 0 10px 0px;
  letter-spacing: -0.02em;
  font-weight: bold;
}
.blog-section .blog-container__main article .description__container h3 a {
  color: #00a70b;
}
.blog-section .blog-container__main article .description__container .excerpt {
  display: none;
  color: #292929;
  font-size: 1.1875em;
}
.blog-section .blog-container__main article .description__container .post-info {
  padding: 0 0 10px 0;
}
.blog-section .blog-container__rest {
  *zoom: 1;
}
.blog-section .blog-container__rest:before,
.blog-section .blog-container__rest:after {
  content: " ";
  display: table;
}
.blog-section .blog-container__rest:after {
  clear: both;
}
.blog-section .blog-container__rest article {
  padding-right: 0;
}
.blog-section .blog-container__rest article:nth-of-type(4n+1) {
  clear: both;
}
.blog-section .blog-container__rest article .post-thumbnail {
  display: block;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.blog-section .blog-container__rest article .post-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  height: auto;
}
.blog-section .blog-container__rest article + article {
  margin-left: 0px;
}
.blog-section .blog-container__rest article .title h3 {
  padding: 10px 0 7px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  letter-spacing: -0.01em;
  font-weight: bold;
}
.blog-section .blog-container__rest article .title h3 a {
  color: #00a70b;
}
.blog-section .blog-container__rest article .title .post-info {
  font-size: 0.75em;
}
.contact {
  display: flex;
  justify-content: center;
}
div[role="form"] p {
  margin: 0;
}
div[role="form"] form {
  display: block;
  margin: 0 auto;
  width: 500px;
}
div[role="form"] form input,
div[role="form"] form textarea {
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 5px 0;
  outline: 1px solid #00a70b;
}
div[role="form"] form input::-webkit-input-placeholder,
div[role="form"] form textarea::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 1.1em;
}
div[role="form"] form img {
  width: auto;
  height: auto;
}
div[role="form"] form input[type="submit"] {
  display: inline;
  margin: 5px 0;
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  width: 100px;
  font-size: 1.125em;
  background: #00a70b;
  color: #fff;
  border: 2px solid #00a70b;
  -webkit-transition: background 0.4s ease-in;
  transition: background 0.4s ease-in;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}
div[role="form"] form input[type="submit"]:hover {
  background: #fff;
  color: #00a70b;
}
.alt-contact {
  padding: 24px 10px;
  background: #f2f2f2;
  display: inline-block;
  float: right;
}
.alt-contact strong {
  font-size: 1.125em;
  color: #00a70b;
}
.pagination {
  margin: 15px 0 25px;
  *zoom: 1;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination div {
  display: inline;
  color: #fff;
}
.pagination div.newer {
  float: left;
}
.pagination div.newer a {
  padding: 10px 20px 10px 15px;
}
.pagination div.older {
  float: right;
}
.pagination div.older a {
  padding: 10px 15px 10px 20px;
}
.pagination div a {
  background-color: #00a70b;
  font-size: 1.125em;
  color: #fff;
}
.pagination div a .fa {
  margin-left: 5px;
  margin-right: 5px;
}
.related__title {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.375em;
  background: #28b6d7;
  color: #fff;
}
.related__posts {
  margin-top: 15px;
  *zoom: 1;
}
.related__posts:before,
.related__posts:after {
  content: " ";
  display: table;
}
.related__posts:after {
  clear: both;
}
.related__posts article:nth-of-type(3n+1) {
  clear: both;
}
.related__posts article .post-thumbnail {
  position: relative;
  display: block;
  height: 176px;
  overflow: hidden;
  border: 1px solid rgba(0, 167, 11, 0.2);
}
.related__posts article .post-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.related__posts article .title {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.related__posts article .title h3 {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}
.related__posts article .title h3 a {
  font-size: 18px;
  color: #00a70b;
}
.related__posts article .title .post-info {
  padding: 0 0 10px 0;
}
.related__posts article .title .post-info__date {
  font-size: 0.8125em;
  color: #606060;
}
.main-sidebar {
  box-sizing: border-box;
  padding-left: 50px;
  margin-top: 23px;
  height: auto;
}
.main-sidebar .primary-sidebar {
  *zoom: 1;
}
.main-sidebar .primary-sidebar:before,
.main-sidebar .primary-sidebar:after {
  content: " ";
  display: table;
}
.main-sidebar .primary-sidebar:after {
  clear: both;
}
.main-sidebar .widget-title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.375em;
  background: #28b6d7;
  color: #fff;
}
.widget-new_posts {
  margin-top: 2em;
}
.widget-new_posts ul {
  width: 330px;
  overflow: hidden;
}
.widget-new_posts ul .post-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.widget-new_posts ul .post-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.widget-new_posts ul .related_post {
  position: relative;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #00a70b;
  -webkit-transition: margin-left 0.3s ease-in;
  transition: margin-left 0.3s ease-in;
}
.widget-new_posts ul .related_post + .related_post {
  margin-top: 5px;
}
.widget-new_posts ul .related_post .fa {
  position: absolute;
  right: 999px;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
.widget-new_posts ul .related_post a {
  font-size: 1.2rem;
}
.widget-new_posts ul .related_post:hover {
  margin-left: 20px;
}
.widget-new_posts ul .related_post:hover a {
  color: #00a70b;
}
.widget-new_posts ul .related_post:hover .fa {
  top: 2px;
  left: -20px;
}
/**
*FOOTER SECTION OF THE SITE
**/
.footer {
  *zoom: 1;
  height: auto;
  background-color: #026A83;
  color: #fff;
  padding: 20px 20px 20px 20px;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer_container {
  padding-right: 20px;
}
.footer_container:before {
  content: '';
  position: relative;
  right: 6%;
  float: left;
  display: inline-block;
  width: 1px;
  height: 160px;
  border-left: 1px solid #02576b;
}
.footer_container:first-child:before {
  display: none;
}
.footer_container .footer-menu ul {
  list-style: none;
  padding: 0;
}
.footer_container .footer-menu ul.menu > li {
  font-weight: bold;
  font-size: 1.125em;
}
.footer_container .footer-menu ul.menu > li + li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer_container .footer-menu ul.menu .sub-menu {
  margin-left: 15px;
  padding-top: 5px;
}
.footer_container .footer-menu ul.menu .sub-menu > li {
  margin-top: 2px;
  margin-bottom: 2px;
}
.footer_container .footer-menu ul.menu .sub-menu a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 17px;
  -webkit-transition: padding-left 0.1s ease-in;
  transition: padding-left 0.1s ease-in;
  -webkit-transition: border-left 0s 0.05s linear;
  transition: border-left 0s 0.05s linear;
}
.footer_container .footer-menu ul.menu .sub-menu a:hover {
  padding-left: 5px;
  text-decoration: none;
  border-left: 3px solid #00a70b;
}
.footer_container .footer-menu a {
  color: #fff;
}
.footer_container .contacts {
  color: #fff;
}
.footer_container .contacts__title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.125em;
}
.footer_container .contacts__phone {
  display: inline-block;
  vertical-align: top;
}
.footer_container .contacts__phone__title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5vw;
}
.footer_container .contacts__phone p {
  font-size: 1vw;
}
.footer_container .contacts__email {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.footer_container .contacts__email__title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5vw;
}
.footer_container .contacts__email p {
  font-size: 1vw;
}
.footer {
  margin-top: 2em;
}
/*
* MEDIA QUERY STYLES
*/
@media (min-width: 1200px) {
  .footer_container .contacts__phone__title,
  .footer_container .contacts__email__title {
    font-size: 1vw;
  }
  .footer_container .contacts__phone p,
  .footer_container .contacts__email p {
    font-size: 1vw;
  }
}
@media (max-width: 1200px) {
  .related__posts article:nth-of-type(3n+1) {
    clear: none;
  }
  .widget-new_posts ul .post-thumbnail {
    height: 160px;
  }
}
@media (max-width: 960px) {
  .header .nav-main .menu > li:before {
    display: none;
  }
  .footer_container:nth-child(3):before {
    display: none;
  }
  .footer_container .contacts__phone__title,
  .footer_container .contacts__email__title {
    font-size: 2.4vw;
  }
  .footer_container .contacts__phone p,
  .footer_container .contacts__email p {
    font-size: 2vw;
  }
}
@media (max-width: 786px) {
  .pt-container .category-pt .post-thumbnail {
    height: 150px;
  }
  .footer_container:before {
    display: none;
  }
  .footer {
    padding: 20px;
  }
  .footer_container {
    /*display: flex;
          flex-direction: column;
          justify-content: center;*/
  }
  .footer_container + .footer_container {
    margin-top: 10px;
  }
  .related__posts article:nth-of-type(2n+1) {
    clear: both;
  }
  .related__posts article:nth-of-type(3n+1) {
    clear: none;
  }
  .footer_container .contacts__phone__title,
  .footer_container .contacts__email__title {
    font-size: 3vw;
  }
  .footer_container .contacts__phone p,
  .footer_container .contacts__email p {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .footer_container .contacts__phone__title,
  .footer_container .contacts__email__title {
    font-size: 4vw;
  }
  .footer_container .contacts__phone p,
  .footer_container .contacts__email p {
    font-size: 4vw;
  }
}
@media (max-width: 480px) {
  .content .post .post-thumbnail {
    height: 140px;
  }
}
@media (max-width: 360px) {
  .header .nav-main .menu > li > a {
    font-size: 0.7em;
  }
  .blog-section .blog-container__main article .post-thumbnail {
    height: 180px;
  }
  .blog-section .blog-container__main article h3 a {
    font-size: 16px;
  }
  .content .post .post-thumbnail {
    height: 140px;
  }
}
